.wrap {
    margin-right: auto;
margin-left: auto;
display: inline-block;
}
.form {
display: flex;
flex-direction: column;
}

.form input {
width: 200px;
height: 25px;
}
.button {

margin-top: 20px;
width: 100px;
height: 30px;
cursor: pointer;
}